{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4">Reset your password</h1>
	<div class="container row my-5">
		<div class="row col-md-8 mx-auto">
			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<div class="col-md-6 mx-auto d-grid">
				<button class="btn btn-block btn-lg btn-primary mt-3">Reset password</button>
			</div>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
