<div class="be-comment mb-3">
	<div class="be-comment-content">
		<span class="be-comment-name"><img src="{{asset('uploads/persons/' ~ comment.getAuthor.picture)}}" class="col-1 mx-2">{{ comment.getAuthor.username}}
		</span>

		<span class="be-comment-time">
			<i class="far fa-clock"></i>
			{{ comment.getCreatedAt}}
		</span>

		<p class="be-comment-text">{{ comment.getContent}}</p>
	</div>
</div>
