{% extends "base.html.twig" %}

{% set nav = "Home" %}

{% block title  %}Home
{% endblock %}


{% block header %}
	<header class="masthead d-flex align-items-center" style="background-image:url({{ asset('img/home.jpg')}})">
		<div class=" container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>SNOWTRICKS</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<a href="#main" id="main-content">
		<i class="fas fa-arrow-circle-down fa-3x"></i>
	</a>
{% endblock %}

{% block body %}
	<div>
		<h2 class="text-center" id="main">Tricks</h2>
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					{% for trick in tricks %}
						<div class="col">
							<div class="card shadow-sm">
								<img src="{{ asset('img/home.jpg')}}"/>
								<title>{{ trick.name}}</title>

							</svg>

							<div class="card-body">
								<h3 class="text-center">{{ trick.name|upper}}</h3>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-primary">View</button>
									</div>
									<div>
										<button type="button" class="btn btn-sm font-primary">
											<i class="fas fa-pen "></i>
										</button>
										<button type="button" class="btn btn-sm">
											<i class="fas fa-trash-alt"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>{% endblock %}
