{% extends "base.html.twig" %}

{% set nav = "Home" %}

{% block title  %}Home
{% endblock %}


{% block header %}
	<header class="masthead d-flex align-items-center" style="background-image:url({{ asset('img/home.jpg')}})">
		<div class=" container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>SNOWTRICKS</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<a href="#main" id="main-content">
		<i class="fas fa-arrow-circle-down fa-3x"></i>
	</a>
{% endblock %}

{% block body %}
	<div>
		<h2 class="text-center" id="main">Tricks</h2>
		<a href="{{path('trick_create')}}" class="btn btn-primary">Add Trick</a>
		<div class="album py-5 bg-light">
			<div class="container">
				{% include "trick/cardList.html.twig" %}
				<div class="text-center mt-4">
					<a type="button" class="btn btn-outline-primary" id="load" href="#">Load More</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="{{ asset('js/load.js')}}"></script>{% endblock %}
