{% extends "base.html.twig" %}

{% block title %}Modifier une figure
{% endblock %}

{% block body %}
	<div class="mt-5 ">
		<h1 class="text-center">Modifier une figure</h1>

		{% include "trick/form/_form.html.twig" with {submitButtonText:"Modifier"}%}

	</div>
{% endblock %}
