{% extends "base.html.twig" %}

{% block title %}
	Figure
	{{ trick.name }}
{% endblock %}

{% block body %}

	<div class="container py-5">
		<div class="row text-center text-white mb-5">
			<div class="col-lg-7 mx-auto">
				<h1 class="display-4">Figure
					<span class="">{{ trick.name}}</span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<img src="" alt="">
			</div>
		</div>
	</div>
{% endblock %}
